body {
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
	overflow-x: hidden;
}

.primary-nav {
	overflow: hidden;
	background: radial-gradient(circle, #128fa5 20%, #12385d 100%);
	z-index: 10;
	.logo {
		img {
			width: auto;
			height: auto;
			object-fit: contain;
		}
	}

	.menu-toggler {
		display: none;
		width: 40px;
		height: 40px;
		background: transparent;
		border: 1px solid #fff;
		outline: none;
		cursor: pointer;
		font-size: 20px;
		color: #fff;
	}

	.main-menu {
		list-style: none;
		height: auto;
		.menu-item {
			position: relative;
			height: 90px;
			display: flex;
			align-items: center;
			margin-right: 1em;
			a {
				font-size: 14px;
				font-weight: 400;
				color: #82cfca;
				transition: all 0.3s ease-in;
				&:hover,
				&:focus {
					color: #fff;
					font-weight: 700;
				}
			}
			&:last-of-type {
				margin: 0;
			}

			/* Child Menu Settings */
			.sub-menu {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				list-style: none;
				padding: 0;
				margin: 0;
				background: #fff;
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
				z-index: 15;
				.menu-item {
					position: relative;
					height: auto;
					margin: 0;
					a {
						width: 200px;
						color: #002147;
						padding: 10px;
						display: block;
					}
					&:hover {
						background-color: #82cfca;
					}
				}
			}

			&.menu-item-has-children {
				cursor: pointer;

				&::after {
					content: "▼";
					font-size: 10px;
					margin-top: 4px;
					margin-left: 5px;
					color: #fff;
				}

				.sub-menu {
					display: none;
					position: absolute;
					top: 100%;
					left: 0;
					list-style: none;
					padding: 0;
					margin: 0;
					background: #fff;
					box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

					.menu-item {
						position: relative;
						a {
							padding: 10px 15px;
							display: block;
							width: 200px;
							white-space: wrap;
						}

						/* Second Level Sub Menu*/
						.sub-menu {
							display: none;
							position: absolute;
							top: 0;
							left: 100%;
						}
						&:hover .sub-menu {
							display: block;
						}
						&:hover > a,
						&:focus-within > a {
							font-weight: 700;
						}
						/* Second Level Sub Menu Link*/
						&.menu-item-has-children {
							&::after {
								content: "▼";
								font-size: 10px;
								margin-top: 0px;
								margin-left: 5px;
								margin-right: 5px;
								color: #002147;
								transform: rotate(-90deg);
							}
						}
					}
				}
			}

			&:hover .sub-menu,
			&:focus-within > .submenu {
				display: block;
			}

			&:hover > a,
			&:focus-within > a {
				color: #fff;
				font-weight: 700;
			}
		}
	}

	.mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 0;
		background-color: #12385d;
		list-style: none;
		padding: 0;
		margin: 0;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 20;
		transition: all 0.3s ease-in;

		.menu-item {
			position: relative;
			margin: 0;
			opacity: 0;
			transition: all 1s ease-in;
			> a {
				display: block;
				padding: 10px 15px;
				text-decoration: none;
				color: #fff;

				&:hover {
					background-color: #128fa5;
				}
			}

			&.menu-item-has-children {
				> a {
					cursor: pointer;
					position: relative;

					&::after {
						content: "\25BC"; // Down arrow
						position: absolute;
						top: 35%;
						left: 90%;
						font-size: 10px;
					}
				}

				.sub-menu {
					list-style: none;
					padding: 0;
					margin: 0;
					display: none;

					.menu-item {
						> a {
							padding-left: 30px;
						}
						.sub-menu {
							padding-left: 20px;
						}
					}

					.menu-item-has-children {
						> a::after {
							content: "\25B6"; // Right arrow
							font-size: 10px;
						}
					}
				}

				&.active > .sub-menu {
					display: block;
				}

				&.active > a::after {
					content: "\25B2" !important; // Up arrow
					font-size: 10px;
				}
			}
		}
		&.active {
			width: 70%;
			.menu-item {
				opacity: 1;
			}
		}
	}
}

@media (max-width: 768px) {
	.primary-nav {
		padding-top: 1em;
		padding-bottom: 1em;
		.logo {
			width: 200px;
		}
		.menu-toggler {
			display: block;
		}

		.main-menu {
			display: none;
		}
	}
}
