@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.primary-nav {
  background: radial-gradient(circle, #128fa5 20%, #12385d 100%);
  z-index: 20;
}
.primary-nav .logo img {
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.primary-nav .menu-toggler {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
}
.primary-nav .menu-toggler img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in;
}
.primary-nav .main-menu {
  list-style: none;
  height: auto;
}
.primary-nav .main-menu .menu-item {
  position: relative;
  height: 90px;
  display: flex;
  align-items: center;
  margin-right: 1em;
  /* Child Menu Settings */
}
.primary-nav .main-menu .menu-item a {
  font-size: 14px;
  font-weight: 400;
  color: #82cfca;
  transition: all 0.3s ease-in;
}
.primary-nav .main-menu .menu-item a:hover, .primary-nav .main-menu .menu-item a:focus {
  color: #fff;
  font-weight: 700;
}
.primary-nav .main-menu .menu-item:last-of-type {
  margin: 0;
}
.primary-nav .main-menu .menu-item .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 30;
}
.primary-nav .main-menu .menu-item .sub-menu .menu-item {
  position: relative;
  height: auto;
  margin: 0;
}
.primary-nav .main-menu .menu-item .sub-menu .menu-item a {
  width: 200px;
  color: #002147;
  padding: 10px;
  display: block;
}
.primary-nav .main-menu .menu-item .sub-menu .menu-item:hover {
  background-color: #82cfca;
}
.primary-nav .main-menu .menu-item.menu-item-has-children {
  cursor: pointer;
}
.primary-nav .main-menu .menu-item.menu-item-has-children::after {
  content: "▼";
  font-size: 10px;
  margin-top: 4px;
  margin-left: 5px;
  color: #fff;
}
.primary-nav .main-menu .menu-item.menu-item-has-children .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 30;
}
.primary-nav .main-menu .menu-item.menu-item-has-children .sub-menu .menu-item {
  position: relative;
  /* Second Level Sub Menu*/
  /* Second Level Sub Menu Link*/
}
.primary-nav .main-menu .menu-item.menu-item-has-children .sub-menu .menu-item a {
  padding: 10px 15px;
  display: block;
  width: 200px;
  white-space: wrap;
}
.primary-nav .main-menu .menu-item.menu-item-has-children .sub-menu .menu-item .sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}
.primary-nav .main-menu .menu-item.menu-item-has-children .sub-menu .menu-item:hover .sub-menu {
  display: block;
}
.primary-nav .main-menu .menu-item.menu-item-has-children .sub-menu .menu-item:hover > a, .primary-nav .main-menu .menu-item.menu-item-has-children .sub-menu .menu-item:focus-within > a {
  font-weight: 700;
}
.primary-nav .main-menu .menu-item.menu-item-has-children .sub-menu .menu-item.menu-item-has-children::after {
  content: "▼";
  font-size: 10px;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
  color: #002147;
  transform: rotate(-90deg);
}
.primary-nav .main-menu .menu-item:hover .sub-menu, .primary-nav .main-menu .menu-item:focus-within > .sub-menu {
  display: block;
}
.primary-nav .main-menu .menu-item:hover > a, .primary-nav .main-menu .menu-item:focus-within > a {
  color: #fff;
  font-weight: 700;
}
.primary-nav .mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  background-color: #12385d;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 20;
  transition: all 0.3s ease-in;
}
.primary-nav .mobile-menu .menu-item {
  position: relative;
  margin: 0;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.primary-nav .mobile-menu .menu-item > a {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
.primary-nav .mobile-menu .menu-item > a:hover {
  background-color: #128fa5;
}
.primary-nav .mobile-menu .menu-item.menu-item-has-children > a {
  cursor: pointer;
  position: relative;
}
.primary-nav .mobile-menu .menu-item.menu-item-has-children > a::after {
  content: "▼";
  position: absolute;
  top: 35%;
  left: 90%;
  font-size: 10px;
}
.primary-nav .mobile-menu .menu-item.menu-item-has-children > a.active {
  background-color: #128fa5;
  font-weight: 700;
}
.primary-nav .mobile-menu .menu-item.menu-item-has-children .sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #128fa5;
  display: none;
}
.primary-nav .mobile-menu .menu-item.menu-item-has-children .sub-menu .menu-item > a {
  padding-left: 30px;
}
.primary-nav .mobile-menu .menu-item.menu-item-has-children .sub-menu .menu-item > a:hover {
  background-color: #82cfca;
}
.primary-nav .mobile-menu .menu-item.menu-item-has-children .sub-menu .menu-item .sub-menu {
  background: #82cfca;
  padding-left: 20px;
}
.primary-nav .mobile-menu .menu-item.menu-item-has-children .sub-menu .menu-item-has-children > a::after {
  content: "▶";
  font-size: 10px;
}
.primary-nav .mobile-menu .menu-item.menu-item-has-children.active > .sub-menu {
  display: block;
}
.primary-nav .mobile-menu .menu-item.menu-item-has-children.active > a::after {
  content: "▲" !important;
  font-size: 10px;
}
.primary-nav .mobile-menu.active {
  width: 70%;
}
.primary-nav .mobile-menu.active .menu-item {
  opacity: 1;
}

@media (max-width: 768px) {
  .primary-nav {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .primary-nav .logo {
    width: 200px;
  }
  .primary-nav .menu-toggler {
    display: block;
  }
  .primary-nav .main-menu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */